language: node_js

node_js:
  - 'lts/*'

cache:
  directories:
    - 'node_modules'

deploy:
  provider: npm
  email: smonnsource@gmail.com
  skip_cleanup: true
  api_key:
    secure: $NPM_AUTH_TOKEN
  on:
    tags: true
    repo: smonn/globcat
